@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400&family=PT+Mono&family=Roboto+Slab:wght@300;400;900&family=Long+Cang&family=Dancing+Script:wght@700&display=swap&family=Press+Start+2P&display=swap&family=Rubik+Mono+One&display=swap');

html, body {
  margin: 0;
}

.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(rgba(0, 0, 0, 0.733) 50%, rgba(0, 0, 0, 0.932) 100%), url("images/lauren-mancke-unsplash.jpg"); */
  background: linear-gradient(rgba(0, 0, 0, 0.733) 50%, rgba(0, 0, 0, 0.932) 100%), url("static/images/unsplash\ -\ Kyle\ Sung.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.unsplash {
  color: rgb(109, 108, 108);
  text-decoration: none;
  position: absolute;
  bottom: 3%;
  right: 2%;
  font-size: 0.9vw;
  font-family: sans-serif;
  cursor: pointer;
  display: inline-flex;
}

.unsplash > svg {
  margin-right: 5px;
}


.div1 .img-div-wrapper {
  width: 400px;
  height: 450px; 
}

.div1 .profile-img {
  position: relative;
  background: url("static/images/profile-blue.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  margin: auto;
  
  background-clip: text;
  -webkit-background-clip: text;
  word-break: break-word;
  font-size: 9px;
  color: rgba(0,0,0,0);
  overflow: hidden;
  /* font-family: 'Press Start 2P', cursive; */
  font-family: 'Rubik Mono One', sans-serif;
}

.profile-img::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent;
}

.div1 .name {
  /* border: 1px solid yellow; */
  margin-bottom: 30px;
  font-family: 'PT Mono', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 5.5vw;
  text-align: center;
  word-wrap: break-word;
  line-height: 5vw;
  font-weight: bolder;
  z-index: 1;
  padding: 15px 25px;
  text-shadow: 1px 1px 3px black;
  border-radius: 2px;
}  

div.name > div {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
}

div.name>div>a {
  font-size: 20px;
  margin: 0px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  background: white;
  color: black;
  border-radius: 2px;
  transition: box-shadow 0.2s;
}

div.name>div>a:hover { 
  box-shadow: 0px 0px 7px 1px cyan;
}

a.fb:hover { color: #1178F2; }
a.tw:hover { color: #2FCDFF; }
a.ln:hover { color: #0A66C2; }
a.ev:hover { color: #C61C19; }
a.gh:hover { color: #14191E; }

.name span {
  font-weight: 400;
  font-size: 3vw;
  color: #fc454e;
}

.name p {
  margin: 0;
}

.profile-img img {
 width: 100%;
 height: 100%;
 border-radius: 4px;
}

.fa-angle-double-down {
  color: rgba(255, 255, 255, 0.322);
  position: absolute;
  left: 50%;
  top: 92%;
  font-size: 20px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
}

.fa-angle-double-down:hover {
  color: rgba(255, 255, 255, 0.692);
  background-color: rgba(255, 255, 255, 0.062);
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 0;
}

a.anim, span.anim {
  display: inline-flex;
}

.anim {
  opacity: 0;
}

span.anim {
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
  margin: 15px auto 5px auto;
  border-right: 2px solid transparent;
}

.profile-animation {
  animation: scale 3.5s 1s 1 linear forwards;
}

@keyframes scale {
  from {
    opacity: 1;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

.name-animation {
  animation: fadeup 1s 0.5s 1 cubic-bezier(.72,-0.17,.06,.32) forwards;
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.handle-animation {
  animation: type 3.5s steps(16) 1s 1 normal both, blinkTextCursor 500ms 14 normal forwards;
}

@keyframes type {
  from {
    opacity: 1;
    width: 0ch;
  }
  to {
    width: 16ch;
  }
}

@keyframes blinkTextCursor {
  from {
    opacity: 1;
    border-right-color: rgba(255,255,255,.75);
  }
  to {
    border-right-color: transparent;
  }
}

.socials-animation {
  animation: faderightandspin 1s 5s 1 cubic-bezier(1, 0.01, 0, 1.06) forwards;
}

.tw { animation-delay: 5.5s; }
.ln { animation-delay: 6s; }
.ev { animation-delay: 6.5s; }
.gh { animation-delay: 7s; }

@keyframes faderightandspin {
  from {
    opacity: 0;
    transform: translateX(-50px) rotate(0deg);
  }
  to {
    opacity: 1;
    transform: translateX(0px) rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .div1 .profile-img {
    width: 250px;
    height: 450px;
  }

  .div1 .name {
    width: 75vw;
    font-size: 8vw;
  }

  .unsplash {
    font-size: 1.5vw;
  }

  .div2 > span {
    text-align: center;
  }

  .div2 > ul {
    max-width: 100%;
  }
}